fastapi
uvicorn
python-multipart
python-dotenv

supabase

google-ai-generativelanguage
google-api-core
google-auth
langchain-core
langchain-google-genai
langsmith

openpyxl
filetype
beautifulsoup4

pydantic
pydantic-core

httpx
requests
email-validator
python-jose